#qt_calendar_navigationbar
{
    font-size:16px; width: 150px; left: 20px;
    background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #cccccc, stop: 1 #333333)
    color:black;
}

/* Should the text be visible? */
#hourSepLbl[blink="false"], #minSepLbl[blink="false"], #secSepLbl[blink="false"]
{
        color: black; /* show the text*/
}
/* else */
#hourSepLbl[blink="true"], #minSepLbl[blink="true"], #secSepLbl[blink="true"]
{
        color: rgba(0, 0, 0, 0); /* hide the text */
}
